<div class="container-content">

  <div class="row" id="search_row">

      <%= form_with url: books_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "search-bar-input",
      placeholder: "Get yours"
     %>
     <%= submit_tag "Search", class: "btn", id: "search-button" %>
     <% end %>

  </div>

  <div class="row">

    <div class="filter col-2 flex-column">

      <div class="dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <h6>Filter by Category</h6>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Philosophy</a></li>
            <li><a class="dropdown-item" href="#">Literature</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
          </ul>
      </div>

      <div class="dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <h6>Condition</h6>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">New</a></li>
            <li><a class="dropdown-item" href="#">Used - Excellent</a></li>
            <li><a class="dropdown-item" href="#">Used - Good</a></li>
            <li><a class="dropdown-item" href="#">Used - Acceptable</a></li>
          </ul>
      </div>

      <div class="dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <h6>Price</h6>
        </button>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
           <li><a class="dropdown-item" href="#">£0 - £10</a></li>
           <li><a class="dropdown-item" href="#">£10 - £20</a></li>
           <li><a class="dropdown-item" href="#">> £20</a></li>
         </ul>
      </div>

    </div>

    <div class="cards col-10  ">
      <% @books.each do |book| %>
        <div class="card">
          <img src =<%= book.book_pic %> class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-text"><%= book.genre %></p>
              <p class="card-text">£<%= book.price %></p>
              <%= link_to "Select", book_path(book), class: "text-decoration-none btn" %>
            </div>
        </div>
      <% end %>
    </div>

  </div>

</div>


<%#
<ul class="-list">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Price
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">£ 0 - 10</a></li>
              <li><a class="dropdown-item" href="#">£ 10 - 20</a></li>
              <li><a class="dropdown-item" href="#">£ More than 20</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Condition
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">New</a></li>
              <li><a class="dropdown-item" href="#">Used - Excellent</a></li>
              <li><a class="dropdown-item" href="#">Used - Good</a></li>
              <li><a class="dropdown-item" href="#">Used - Acceptable</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Literature</a></li>
              <li><a class="dropdown-item" href="#">Rare books</a></li>
              <li><a class="dropdown-item" href="#">Non-fiction</a></li>
              <li><a class="dropdown-item" href="#">Philosophy</a></li>
            </ul>
          </div>
        </li>

      </ul> %>
