<%# <div class="row"> %>
<div class="cards-container">

    <div id="vertical-nav d-block">
      <ul class="nav-list">

        <li class="nav-item">
          <a class="nav-link" id="nav-title" role="button">Filters</a>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Price
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">£ 0 - 10</a></li>
              <li><a class="dropdown-item" href="#">£ 10 - 20</a></li>
              <li><a class="dropdown-item" href="#">£ More than 20</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Condition
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">New</a></li>
              <li><a class="dropdown-item" href="#">Good</a></li>
              <li><a class="dropdown-item" href="#">Good-Visible damage</a></li>
              <li><a class="dropdown-item" href="#">Bad-Extensive damage</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Fantasy</a></li>
              <li><a class="dropdown-item" href="#">Classics</a></li>
              <li><a class="dropdown-item" href="#">Non-fiction</a></li>
              <li><a class="dropdown-item" href="#">Filosophy</a></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>

    <div class="cards">
        <% @books.each do |book| %>
          <div class="card">
            <img src =<%= book.book_pic %> class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text"><%= book.genre %></p>
                <p class="card-text">£<%= book.price %></p>
                <%= link_to "Select", class: "btn decoration-none" %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
